#div_menu_options {
    height: 32px;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.btn_select_card {
    height: 30px;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px 15px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0px;
}

.btn_selected {
    background-color: #44a5ae;
    color: white;
}

.btn_selected:hover {
    background-color: #44a5ae;
    color: white;
    cursor: pointer;
    transition: 0.2s linear;
}

.btn_non_selected {
    background-color: #1d494e;
    color: white;
}

.btn_non_selected:hover {
    background-color: #4bcfdb;
    color: white;
    cursor: pointer;
    transition: 0.2s linear;
}

.div_content {
    border: 1px solid #44a5ae;
    border-top: 3px solid #44a5ae;
    border-radius: 0px 0px 15px 15px;
    padding: 16px;
    margin-top: -1px;
}

.div_card_and_buttons {
    height: 16px;
    width: 75%;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#btn_watch {
    margin-right: 8px;
}

#btn_download {
    margin-left: 8px;
}

.align_center {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
}

.title {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
}

.card_example {
    display: flex;
    flex-direction: column;
    width: 400px;
    max-width: 400px;
    height: 250px;
    max-height: 250px;
    margin-top: 28px;
    padding: 10px 10px 0px 10px;
    background-image: url('./images/fundo_carteira_unidas.png');
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.308);
}

.title_card {
    margin: 0px !important;
    padding: 0px !important;
    font-size: 8px;
    font-weight: bold;
    color: #373435;
}

.text_card {
    margin: 0px !important;
    padding: 0px !important;
    font-size: 8px;
    font-weight: bold;
    color: #000;
}

.input_fields {
    margin: 0px;
    margin-top: 6px;
    color: #373435;
    font-weight: bold;
}

#div_logo {
    height: 36px;
    width: 140px;
    margin-left: 8.5px;
    background-image: url(./images/logo_dne.png);
    background-position: center;
    background-size: cover;
}

#div_logo_unidas {
    height: 70px;
    width: 70px;
    position: absolute;
    align-self: flex-end;
    background-image: url(./images/logo_unidas.png);
    background-position: center;
    background-size: cover;
}

.divs_dados {
    height: 25px;
    width: 175px;
    padding-top: 2px;
}

#div_dados_1 {
    margin-top: 46px;
    margin-left: 40px;
    align-self: center;
    position: absolute;
}

#div_dados_2 {
    height: 25px;
    width: 175px;
    margin-top: 71px;
    margin-left: 40px;
    align-self: center;
    position: absolute;
}

#div_dados_3 {
    height: 25px;
    width: 246px;
    margin-top: 96px;
    margin-left: 123px;
    align-self: flex-start;
    position: absolute;
}

#div_dados_4 {
    height: 25px;
    width: 246px;
    margin-top: 121px;
    margin-left: 123px;
    align-self: flex-start;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#div_dados_5 {
    height: 25px;
    width: 246px;
    margin-top: 146px;
    margin-left: 123px;
    align-self: flex-start;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#person_img {
    height: 117px;
    width: 103px;
    max-width: 103px;
    position: absolute;
    margin-top: 46px;
    margin-left: 8.5px;
}

#person {
    height: 100%;
    width: 100%;
    background-color: white;
}

#bottom_card {
    background-image: url(./images/bottom_carteira_unidas.png);
    background-position: center;
    background-size: cover;
    width: 230px;
    height: 46px;
    align-self: flex-end;
    position: absolute;
    margin-top: 186px;
}

#qr_code_icon {
    background-color: white;
    width: 65px;
    height: 65px;
    margin-top: 140px;
    margin-left: 27.5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#qr_code {
    width: 50px;
    height: 50px;
}